.intro-img-others {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  height: 60vh;
  position: relative;
}
.intro-img-others::before {
  content: "";
  background: url("https://wallpapercrafter.com/th8001/610164-minimalism-computer-multiple-display-simple-background.jpg");
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-img-others h1 {
  font-size: 2.4rem;
}

.intro-img-others p {
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .intro-img-others h1 {
    font-size: 2rem;
  }
}
